input{
	width: 30%;
	padding: 5px;
	border: 2px solid orange;
	border-radius: 5px;
}
body{
	background-color: #FFE933;
}
div{
	font-style: italic;
	font-weight: 200;
	font-size: 30px;
}
div shoppingList{
	width: 38%;
	padding: 5px 0px 30px 5px;
	margin: 10px 0px 0px 0px;
	background-color: #FFD700;
	font-size: 30px;
	font-weight: 200;
	border: 2px;
	display: flex;
	justify-content: space-between;

}
label{
	text-align: center;
	width: 50px;
	font-weight: bold;
	font-size: 18px;
	border: 2px solid #DAA520;
	padding: 2px 5px 4px 5px;
	margin: 5px;
	border-radius: 5px;
	color: green;
}
shoppingList.value{
	width: 40%;
	padding: 5px;
	border: 2px solid orange;
	border-radius: 5px;
}